name: Terraform Apply

on:
  workflow_run:
    workflows: ["Terraform PR Plan"]  # Must match the 'name' in terraform-plan.yml
    types: [ "completed" ]

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Merged Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -no-color
        continue-on-error: true

      - name: Terraform Apply
        run: terraform apply -auto-approve
